#page,#foot{background-color:#fff}#foot1{border:.5em solid #fff}#infopane .nav,.parent h2,#toolbar{background:#ebf3fb}#promo{background:#ebf3fb}#searchcats ul li a,#searchcats ul li a:visited,#fotterlbl{color:#fff}#msnlogo .imgMSFT,#msnlogo .imgMSNMEMBER{background:url(/assets/msn_b.gif) no-repeat}#foot{background:#fff}#nav,#toolbar,#infopane,.parent.chrome5,.parent.chrome7,#wrapper input.button,#wrapper input.hint,#blowout img,#om h3,#om.open .linklist1,#f1,#footersearch,select{border:1px solid #ace}#money .c2,#infopane .nav,#stocks .c3,#horos .c2,#vz01t .c2,#vz01b .c2,#blowout{border-top:1px solid #ace}.forecast1 li,.stock1 td,.parent.spotlight h2,#blowout .c2 h3,#om .linklist1 li,#shopping .c2,#shopp .c2,#shopp .cf li,#shopwad .c2{border-bottom:solid 1px #ace}#toolbar,.forecast1 li li{border-bottom:none}#footerlnk ul li{background:url(/assets/bullet.gif) no-repeat 0 6px}#msnlogo .imgVERIZON{background:url(/assets/cbvz_b.gif) no-repeat}#msnlogo .imgQWEST{background:url(/assets/cbqw_b.gif) no-repeat}#msnlogo .imgDELLNET{background:url(/assets/cbde_b.gif) no-repeat}#tickler{background:#ebf3fb}#wrapper .search{background:#ebf3fb url(/assets/provbtn.gif) 3% 2% no-repeat}#header{background:url(/assets/glow_b.gif) no-repeat}body{background:#eee url(/assets/bg_b.gif) repeat-x}#header .c4{background:url(/assets/WL_b.gif) no-repeat 20.7em 100%}#header,#foot1{background-color:#3c7faf}
/*
     FILE ARCHIVED ON 01:45:17 Oct 09, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:07:14 Nov 26, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 264.61
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.071
  cdx.remote: 0.058
  esindex: 0.009
  LoadShardBlock: 213.744 (3)
  PetaboxLoader3.datanode: 173.423 (4)
  CDXLines.iter: 17.709 (3)
  PetaboxLoader3.resolve: 100.187 (2)
  load_resource: 127.084
*/